.container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, white, #001f3f); /* Gradient from black to dark blue */
    color: white; /* Set text color to white for better visibility on a dark background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cityInput {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image {
    text-align: center;
    margin-bottom: 20px;
}

.weather-image img {
    width: 100px;
    height: 100px;
}

.weather-temp {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

}

.weather-location {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.data-container {
    display: flex;
    justify-content: space-between;
}

.element {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.data {
    font-size: 18px;
}

.text {
    font-size: 14px;
    color: #555;
}
